import { {{ command_name }} } from "../../../ports/inbound/{{ command_name }}";
import { {{ service_name }}Port } from "../../../ports/inbound/{{ service_name }}Port";

export class {{ controller_name }} {
  constructor(private readonly service: {{ service_name }}Port) {}

  create(aggregateId: string, name: string): { id: string; name: string } {
    const aggregate = this.service.handle(new {{ command_name }}(aggregateId, name));
    return { id: aggregate.aggregateId, name: aggregate.name };
  }
}
