from typing import Protocol

from ...domain.models.{{ module_name | replace('-', '_') | replace(' ', '_') }}_aggregate import {{ aggregate_name }}


class {{ repository_name }}(Protocol):
    def save(self, aggregate: {{ aggregate_name }}) -> None:
        ...

    def get(self, aggregate_id: str) -> {{ aggregate_name }} | None:
        ...
