import { {{ command_name }} } from "../../../ports/inbound/{{ command_name }}";
import { {{ service_name }}Port } from "../../../ports/inbound/{{ service_name }}Port";

export class {{ command_name }}Consumer {
  constructor(private readonly service: {{ service_name }}Port) {}

  consume(message: { aggregateId: string; name: string }): void {
    this.service.handle(new {{ command_name }}(message.aggregateId, message.name));
  }
}
