<?php

declare(strict_types=1);

namespace App\{{ module_class_name }}\Adapters\Inbound;

use App\{{ module_class_name }}\Domain\Models\{{ aggregate_name }};
use App\{{ module_class_name }}\Ports\Inbound\{{ command_name }};
use App\{{ module_class_name }}\Ports\Inbound\{{ service_name }}Port;
use App\{{ module_class_name }}\Ports\Outbound\{{ repository_name }};

final class {{ service_name }} implements {{ service_name }}Port
{
    public function __construct(private readonly {{ repository_name }} $repository)
    {
    }

    public function handle({{ command_name }} $command): {{ aggregate_name }}
    {
        $aggregate = {{ aggregate_name }}::create($command->aggregateId, $command->name);
        $this->repository->save($aggregate);

        return $aggregate;
    }
}
