from django.apps import AppConfig


class {{ app_name | replace("_", " ") | title | replace(" ", "") }}Config(AppConfig):
    default_auto_field = "django.db.models.BigAutoField"
    name = "{{ app_name }}"
