[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ project_title }} API"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
{%- for dependency in dependencies %}
    "{{ dependency }}",
{%- endfor %}
]

[dependency-groups]
dev = [
{%- for dependency in dev_dependencies %}
    "{{ dependency }}",
{%- endfor %}
]

[tool.uv]
package = false
cache-dir = ".dev/uv-cache"

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "{{ project_package }}.settings"
cache_dir = ".dev/pytest-cache"
python_files = ["test_*.py", "*_test.py"]
testpaths = ["tests"]

[tool.ruff]
cache-dir = ".dev/ruff-cache"
line-length = 120
target-version = "py312"

[tool.ruff.lint]
select = ["B", "E", "F", "I", "UP"]
ignore = ["B008"]

[tool.ruff.lint.per-file-ignores]
"*/migrations/*.py" = ["E501"]
"{{ project_package }}/settings.py" = ["E402"]

[tool.coverage.run]
data_file = ".dev/coverage"

[tool.mypy]
cache_dir = ".dev/mypy-cache"
