from ...domain.models.{{ module_name | replace('-', '_') | replace(' ', '_') }}_aggregate import {{ aggregate_name }}
from ...ports.inbound.create_{{ module_name | replace('-', '_') | replace(' ', '_') }} import {{ command_name }}
from ...ports.outbound.{{ module_name | replace('-', '_') | replace(' ', '_') }}_repository import {{ repository_name }}


class {{ service_name }}:
    def __init__(self, repository: {{ repository_name }}) -> None:
        self._repository = repository

    def handle(self, command: {{ command_name }}) -> {{ aggregate_name }}:
        aggregate = {{ aggregate_name }}.create(command.aggregate_id, command.name)
        self._repository.save(aggregate)
        return aggregate
