<?php

declare(strict_types=1);

namespace App\{{ module_class_name }}\Domain\Exceptions;

use InvalidArgumentException;

final class {{ aggregate_name }}ValidationException extends InvalidArgumentException
{
}
