from ....domain.models.{{ module_name | replace('-', '_') | replace(' ', '_') }}_aggregate import {{ aggregate_name }}


class InMemory{{ repository_name }}:
    def __init__(self) -> None:
        self._items: dict[str, {{ aggregate_name }}] = {}

    def save(self, aggregate: {{ aggregate_name }}) -> None:
        self._items[aggregate.aggregate_id] = aggregate

    def get(self, aggregate_id: str) -> {{ aggregate_name }} | None:
        return self._items.get(aggregate_id)
