from . import domain, infrastructure


class {{ service_name }}:
    def __init__(self, repository: infrastructure.{{ repository_name }}) -> None:
        self._repository = repository

    def handle(self, name: str) -> domain.{{ model_name }}:
        return self._repository.find(name)


def bootstrap() -> {{ service_name }}:
    return {{ service_name }}(infrastructure.{{ repository_name }}())


__all__ = ["{{ service_name }}", "bootstrap"]
