import { {{ aggregate_name }}Created } from "../events/{{ aggregate_name }}Created";
import { {{ aggregate_name }}ValidationError } from "../exceptions/{{ aggregate_name }}ValidationError";

export class {{ aggregate_name }} {
  private events: {{ aggregate_name }}Created[] = [];

  private constructor(
    public readonly aggregateId: string,
    public readonly name: string,
  ) {}

  static create(aggregateId: string, name: string): {{ aggregate_name }} {
    if (!aggregateId) {
      throw new {{ aggregate_name }}ValidationError("Aggregate id cannot be empty");
    }

    if (!name) {
      throw new {{ aggregate_name }}ValidationError("Aggregate name cannot be empty");
    }

    const aggregate = new {{ aggregate_name }}(aggregateId, name);
    aggregate.events.push(new {{ aggregate_name }}Created(aggregateId, name));
    return aggregate;
  }

  pullEvents(): readonly {{ aggregate_name }}Created[] {
    const pulled = [...this.events];
    this.events = [];
    return pulled;
  }
}
