<?php

declare(strict_types=1);

namespace App\{{ module_class_name }}\Adapters\Inbound\Amqp;

use App\{{ module_class_name }}\Ports\Inbound\{{ command_name }};
use App\{{ module_class_name }}\Ports\Inbound\{{ service_name }}Port;

final class {{ command_name }}Consumer
{
    public function __construct(private readonly {{ service_name }}Port $service)
    {
    }

    /** @param array{aggregate_id: string, name: string} $message */
    public function consume(array $message): void
    {
        $this->service->handle(
            new {{ command_name }}($message['aggregate_id'], $message['name'])
        );
    }
}
