from django.core.management.base import BaseCommand


class Command(BaseCommand):
    help = "Run {{ app_name }} sync hooks."

    def handle(self, *args, **opts):
        self.stdout.write(self.style.SUCCESS("{{ app_name }} synced"))
