import { {{ aggregate_name }} } from "../../../domain/models/{{ aggregate_name }}";
import { {{ repository_name }} } from "../../../ports/outbound/{{ repository_name }}";

export class InMemory{{ repository_name }} implements {{ repository_name }} {
  private readonly items = new Map<string, {{ aggregate_name }}>();

  save(aggregate: {{ aggregate_name }}): void {
    this.items.set(aggregate.aggregateId, aggregate);
  }

  get(aggregateId: string): {{ aggregate_name }} | undefined {
    return this.items.get(aggregateId);
  }
}
